$primary:                  #6C757D;
$secondary:                #0C5460;
$danger:                   #8E0A0E;
$dark:                     #000000;
$pagination-color :        #000000;
$pagination-border-color : #404040;
$link-color :              #000000;
$input-border-color :      #000000;
$headings-font-family:  'Sorts Mill Goudy', serif;


